[hardware]
gpio_pins = 2,1,0,16,15,7,9,8
pin_modes = pwm # onoff

[lightshow]
use_fifo = False
input_channels = 1
mode = audio-in
# sudo arecord -l
#audio_in_card = default
audio_in_card = default:CARD=MIC
